<div class="panel panel-primary" *ngIf="hero">
  <div class="panel-heading" style="font-size:large">
    {{ "Hero: " + hero.heroName}}
  </div>

  <div class="panel-body">
    <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-3"><b>Hero Name</b></div>
            <div class="col-xs-6">{{ hero.heroName }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3"><b>Real Name</b></div>
            <div class="col-xs-6">{{ hero.realName }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3"><b>Strength</b></div>
            <div class="col-xs-6">{{ hero.heroStrength }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3"><b>Nature</b></div>
            <div class="col-xs-6">{{ hero.heroNature }}</div>
          </div>
        </div>

        <div class="col-md-6" style="text-align:center;">
          <img class="center-block img-responsive"
            [style.margin.px]="2"
            [src]="hero.imageUrl"
            [title]="hero.heroName">
        </div>
    </div>
  </div>
</div>